<%- include('includes/head') %> 
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Create account or Login</h1>
            <p class="text-center lead">Log in or create your account below</p>

            <%- include("includes/messages") %>

                <div class="row">
                    <div class="col-lg mx-4">
                        <h4 class="text-center">Register</h4>
                        <p class="text-center">
                            If you do not have an account, please fill the form
                            below
                        </p>
                        <form action="/login/register" method="POST" class="form-register">
                            <input type="hidden" name="_csrf" value=<%=csrfToken %> />
                            <div class="form-group">
                                <label>Your Name</label>
                                <input type="text" class="form-control" name="name"
                                    aria-describedby="name-register-error" />
                                <small id="name-register-error" class="form-text text-danger d-none"></small>
                            </div>
                            <div class="form-group">
                                <label>Your Email</label>
                                <input type="email" class="form-control" name="email"
                                    aria-describedby="email-register-error" />
                                <small id="email-register-error" class="form-text text-danger d-none"></small>
                            </div>
                            <div class="form-group">
                                <label>Your Password</label>
                                <input type="password" class="form-control" name="password"
                                    aria-describedby="password-register-error" />
                                <small id="password-register-error"
                                    class="form-text text-danger d-none"></small>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    Create Account
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg mx-4">
                        <h4 class="text-center">Login</h4>
                        <p class="text-center">
                            If you have an account, please fill the form below with
                            your credentials
                        </p>
                        <form action="/login/login" method="POST" class="form-login">
                            <input type="hidden" name="_csrf" value=<%=csrfToken %> />
                            <div class="form-group">
                                <label>Your Email</label>
                                <input type="email" class="form-control" name="email"
                                    aria-describedby="email-login-error" />
                                <small id="email-login-error" class="form-text text-danger d-none"></small>
                            </div>
                            <div class="form-group">
                                <label>Your Password</label>
                                <input type="password" class="form-control" name="password"
                                    aria-describedby="password-login-error" />
                                <small id="password-login-error" class="form-text text-danger d-none"></small>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    Enter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>